<div class="article">
    <div class="article-body custom-pb-0 break-word">
        {include file="./Sidebar.html" inline}

        <form method="post" action="?module=settings&action=typeSave&id={$type.id|default:'new'}" id="h-type-settings-form">
            <h2 class="js-page-title">{if empty($type.name)}[`New topic type`]{else}{$type.name|escape}{/if}</h2>

            <div class="fields form">
                <div class="fields-group">
                    <div class="field">
                        <div class="name">
                            [`Type name`]
                        </div>

                        <div class="value">
                            <input type="text" class="bold" name="type[name]" value="{$type.name|escape}" placeholder="[`Type name`]">
                        </div>
                    </div>

                    <div class="field">
                        <div class="name">
                            [`Glyph for public websites`]
                        </div>

                        <div class="value">
                            <ul class="flexbox wrap h-settings-glyph custom-mb-0 js-type-settings-glyphs">
                                <li class="custom-m-4 {if ($type.glyph == 'userpic')}selected{/if}"><a href="#" data-glyph="userpic">{hubHelper::getGlyph('userpic', 32, true,['contact'=>$wa->user()])}</a></li>
                                {foreach hubHelper::getGlyphs() as $glyph}
                                <li class="custom-m-4 {if ($type.glyph == $glyph)}selected{/if}"><a href="#" data-glyph="{$glyph}">{hubHelper::getGlyph($glyph, 32, $type.glyph == $glyph)}</a></li>
                                {/foreach}

                                <li class="custom-m-4 {if strpos($type.glyph, '.')} selected{/if}"><a href="#">[`custom glyph`]</a></li>
                            </ul>

                            <input type="hidden" name="type[glyph]" class="js-glyph-from-collection" value="{if !strpos($type.glyph, '.')}{$type.glyph|escape}{/if}"{if strpos($type.glyph, '.')} disabled="disabled"{/if}>

                            <div class="custom-my-8 js-custom-glyph"{if !strpos($type.glyph, '.')} style="display: none;"{/if}>
                                <p class="small custom-mb-8">[`Or enter a glyph image URL (the image will be scaled to 32x32 px)`]:</p>
                                <input type="text" name="type[glyph]" class="long small js-glyph-custom-value" value="{if strpos($type.glyph, '.')}{$type.glyph}{/if}" placeholder="https://example.com/custom/image.png" {if !strpos($type.glyph, '.')} disabled="disabled"{/if}>
                                {if strpos($type.glyph, '.')}
                                <br>{hubHelper::getGlyph($type.glyph, 32, true)}
                                {/if}
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="name">
                            [`Functionality`]
                        </div>

                        <div class="value">
                            {foreach hubHelper::getBaseTypes() as $type_id => $type_info}
                            {if $type_id !== 'custom'}
                            <p class="custom-{if $type_info@first}mb{elseif $type_info@last}mt{else}my{/if}-12">
                                <label>
                                    <span class="wa-radio small">
                                        <input type="radio" name="type[type]" value="{$type_id}"{if $type.type eq $type_id} checked="checked"{/if}{if !"`$smarty.current_dir`/types/`$type_id`.html"|file_exists} disabled="disabled"{/if}>
                                        <span></span>
                                    </span>
                                    <span class="small">{$type_info.name}</span>
                                    <span class="hint">topic.{$type_id}.html</span>
                                    <span class="hint" style="display: block;">{$type_info.description|escape}</span>
                                </label>
                            </p>
                            {/if}
                            {/foreach}
                        </div>
                    </div>
                </div>

                {foreach hubHelper::getBaseTypes() as $type_id => $type_info}
                <div class="js-type-settings-type" id="h-type-settings-type-{$type_id}">
                    {if "`$smarty.current_dir`/types/`$type_id`.html"|file_exists}
                    {include file="./types/{$type_id}.html"}
                    {/if}
                </div>
                {/foreach}
            </div>
        </form>
    </div>
</div>

<div class="bottombar bottombar--shadowless sticky bordered-top flexbox middle custom-mt-32">
    <div class="article width-100">
        <div class="article-body custom-py-0">
            <div class="flexbox middle space-12 width-100">
                <div class="wide">
                    <button type="submit" class="button js-save-hub-type">
                        [`Save`]
                        <span class="js-hub-type-settings-message"></span>
                    </button>
                </div>

                {if !empty($type.id)}
                <button class="button red outlined js-hub-type-delete">
                    <i class="fas fa-trash-alt"></i>
                    <span class="desktop-and-tablet-only">[`Delete topic type`]</span>
                </button>
                {/if}
            </div>
        </div>
    </div>
</div>


{* type delete dialog*}
{if !empty($type.id)}
<div class="dialog" id="h-type-delete-dialog">
    <div class="dialog-background"></div>

    <div class="dialog-body">
        <header class="dialog-header">
            <h2>[`Delete topic type`]</h2>
        </header>

        <div class="dialog-content">
            <form method="post" action="?module=settings&action=typeDelete" class="js-dialog-delete-type">
                <input type="hidden" name="id" value="{$type.id}">

                {if $type.topics_count}
                    <div>
                        {sprintf(_w('There is <strong>%d topic</strong> with the <strong>%s</strong> type.', 'There are <strong>%d topics</strong> with the <strong>%s</strong> type.', $type.topics_count, false), $type.topics_count, $type.name|escape)}

                        {if $type.topics_count > 1}
                            [`To delete this topic type, please either change the type for all those topics or delete them.`]
                        {else}
                            [`To delete this topic type, please either change the type for that topic or delete it.`]
                        {/if}
                    </div>

                <p class="custom-mb-12">
                    <label>
                        <span class="wa-radio">
                            <input type="radio" name="delete" checked="checked" value="move">
                            <span></span>
                        </span>
                        [`Change type of these topics to`]:
                    </label>
                </p>

                <div class="wa-select custom-ml-20">
                    <select name="type_id"{if false} disabled="disabled"{/if}>
                        {foreach $types as $_type_id => $_type}
                            <option value="{$_type_id}"{if $_type_id eq $type.id} disabled="disabled"{/if}>{$_type.name|escape}</option>
                        {/foreach}
                    </select>
                </div>

                <p>
                    <label>
                        <span class="wa-radio">
                            <input type="radio" name="delete"{if false} checked="checked"{/if} value="delete">
                            <span></span>
                        </span>
                        {sprintf(_w('Delete that %d topic permanently', 'Delete those %d topics permanently', $type.topics_count, false), $type.topics_count)}
                    </label>
                </p>
                {else}
                    <input type="hidden" name="delete" value="safe">
                    <div>{sprintf('[`There are no topics of <strong>%s</strong> type, so this type can be deleted.`]', $type.name|escape)}</div>
                {/if}
                <span class="errormsg state-error"></span>
            </form>
        </div>

        <footer class="dialog-footer">
            <button type="submit" class="button red js-hub-type-delete-confirm">[`Delete topic type`]</button>
            <a class="button light-gray cancel js-dialog-close" href="#">[`Cancel`]</a>
        </footer>
    </div>
</div>
{/if}

<script type="text/javascript">
    $(function () {
        const $form = $('#h-type-settings-form');
        const $dialogForm = $('.js-dialog-delete-type');
        const $saveButton = $('.js-save-hub-type');

        // voting selector must be first, cause in :input[name="type\[type\]"] we will call .change already

        var voting_selector = ':input[name^="type\\[settings\\]\\[voting\\]"]';
        $form.find(voting_selector + '[value="\\+"]').change(function (event) {
            var $dislike = $(this).parents('div.field').find(voting_selector + '[value="\\-"]');
            if (this.checked) {
                $dislike.attr('disabled', null);
                $dislike.attr('checked', $dislike.data('user-checked') || $dislike.get(0).defaultChecked ? true : null);
            } else {
                $dislike.attr('disabled', true);
                if (event.originalEvent) {
                    $dislike.data('user-checked', $dislike.is(':checked'));
                }
                $dislike.attr('checked', null);
            }
        });

        $form.find('.js-type-settings-type').hide().find(':input').attr('disabled', true);
        $form.find(':input[name="type\\[type\\]"]').change(function () {
            if (this.checked) {
                $form.find('.js-type-settings-type').hide().find(':input').attr('disabled', true);
                var $type_settings = $form.find('#h-type-settings-type-' + this.value);
                $type_settings.show().find(':input').attr('disabled', null).change();
            }
        }).change();

        const $glyphs = $form.find('.js-type-settings-glyphs');
        const $icons = $glyphs.find('.js-glyph');
        const $glyph_input = $form.find('.js-glyph-from-collection');
        const $glyph_input_url = $form.find('.js-glyph-custom-value');
        $glyphs.on('click', 'li > a', function (event) {
            event.preventDefault();

            const $this = $(this);
            const $icon = $this.find('.js-glyph');

            $saveButton.addClass('yellow');

            $glyphs.find('.selected').removeClass('selected');
            $icons.removeClass('selected');

            const glyph = $this.data('glyph');
            $this.parents('li').addClass('selected');
            $icon.addClass('selected');

            if (glyph) {
                $glyph_input.prop('disabled', false);
                $glyph_input.val(glyph);

                $glyph_input_url.prop('disabled', true);
                $glyph_input_url.parents('.js-custom-glyph').hide();
            } else {
                $glyph_input.prop('disabled', true);
                $glyph_input_url.prop('disabled', false);
                $glyph_input_url.parents('.js-custom-glyph').show();
            }
        });

        let dialog;

        {if !empty($type.id)}
        $('.js-hub-type-delete').on('click', function(event) {
            event.preventDefault();

            dialog = $.waDialog({
                $wrapper: $('#h-type-delete-dialog'),
                onOpen() {
                    $('#h-type-delete-dialog').find('.errormsg').text('');
                }
            });

            $('.js-hub-type-delete-confirm').on('click', function(event) {
                event.preventDefault();
                dialog.close();

                dialog.$content.find(':input.error').removeClass('error');
                $.post($dialogForm.attr('action'), $dialogForm.serialize(), function (r) {
                    if (r.status == 'ok') {
                        window.location.hash='/settings/'
                    } else {
                        d.find('.errormsg').text(r.errors.join("\n"));
                        console.log(r.errors);
                    }
                }, 'json').error(function(r){
                    console.log(r);
                });
            });
        });
        {/if}

        $saveButton.on('click', function(event) {
            event.preventDefault();

            var $message = $('.js-hub-type-settings-message');
            $message.show().html('<i class="fas fa-spinner fa-spin"></>');

            $.ajax({
                url: $form.attr('action'),
                dataType: 'json',
                type: 'post',
                data: $form.serialize(),
                success: function (r) {
                    $saveButton.removeClass('yellow');

                    if (r.status != 'ok') {
                        if (typeof error === 'function') {
                            if (error(r) !== false) {
                                default_error_handler(r);
                            }
                        } else {
                            default_error_handler(r);
                        }
                        return;
                    }

                    $message.show().html('<i class="fas fa-check-circle"></i>');

                    if (r.data.hash) {
                        window.location.hash = r.data.hash;
                    } else {
                        if (r.data.id) {
                            var $type = $('.h-settings-sidebar:first').find('a[href="\\#/settings/type/' + r.data.id + '/"]');
                            $type.find('.js-type-name').text(r.data.name);
                            $type.find('.js-glyph').html('<i class="fas fa-' + r.data.glyph + '"></i>');
                        }
                        setTimeout(function () {
                            $message.hide();
                        }, 2000);
                    }
                }
            });
        });

        $form.find('input:text:visible:first').focus();

        $form.on('change', function(event) {
            $saveButton.addClass('yellow');
        });
    });

</script>
