<div class="flexbox middle wrap custom-mb-32 bordered-bottom">
    <div class="wide">
        <ul class="tabs overflow-dropdown{if $wa->isMobile()} small custom-mb-12{/if}" {if $wa->isMobile()} style="flex-wrap: wrap;"{/if}>
            <li class="custom-pb-0 {if empty($type) && empty($hub)} selected{/if}">
                <a href="#/settings/" class="custom-py-4-mobile">[`General settings`]</a>
            </li>

            {if $is_admin}
            <li class="custom-mr-12 custom-pb-0{if !empty($hub)} selected{/if}">
                <div class="dropdown js-settings-dropdown-hubs custom-py-12 custom-py-4-mobile" style="border-bottom: .25em solid transparent;{if !empty($hub)} border-bottom-color: var(--accent-color);{/if}">
                    <div class="dropdown-toggle cursor-pointer">[`Hubs`]</div>

                    <div class="dropdown-body">
                        <ul class="menu">
                            {foreach $hubs as $h}
                            {$_h_color = ''}
                            {if !empty($h.params.color) && $h.params.color == 'white'}
                            {$_h_color = 'light-gray'}
                            {else}
                            {$_h_color = $h.params.color|default:'red'}
                            {/if}
                            <li{if !empty($hub) && ($hub.id == $h.id)} class="selected"{/if}>
                                <a href="#/settings/hub/{$h.id}/"{if $h.status && !$h.urls} class="text-gray"{/if}>
                                    <span class="icon"><i class="fas fa-circle text-{$_h_color}"></i></span>
                                    <span class="js-hub-name">{$h.name|default:'[`(no name)`]'|escape}</span>
                                    {if !$h.status}
                                    <span class="count small"><i class="fas fa-lock no-overhanging"></i></span>
                                    {/if}
                                </a>
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                </div>
            </li>

            <li class="custom-pb-0">
                <div class="dropdown js-settings-dropdown-types custom-py-12 custom-py-4-mobile" style="border-bottom: .25em solid transparent;{if !empty($type)} border-bottom-color: var(--accent-color);{/if}">
                    <div class="dropdown-toggle cursor-pointer">[`Topic types`]</div>

                    <div class="dropdown-body">
                        <ul class="menu">
                            {foreach $types as $t}
                            <li{if !empty($type) && ($type.id == $t.id)} class="selected"{/if}>
                                <a href="#/settings/type/{$t.id}/">
                                    <span class="js-type-name">{$t.name|escape}</span>
                                </a>
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                </div>
            </li>
            {/if}
        </ul>
    </div>

    {if $is_admin}
    <div class="custom-mb-8 custom-mt-4">
        <a href="#/settings/hub/add/" class="semibold small text-gray custom-mr-12">
            <i class="fas fa-plus-circle"></i>
            [`New hub`]
        </a>

        <a href="#/settings/type/new/" class="semibold small text-gray">
            <i class="fas fa-plus-circle"></i>
            [`New topic type`]
        </a>
    </div>

    <script>
      ( function($) {
          $('.js-settings-dropdown-hubs').waDropdown({
              update_title: false
          });
          $('.js-settings-dropdown-types').waDropdown({
              update_title: false
          });
      })(jQuery);
    </script>
    {/if}
</div>
