<div class="h-stream{if !empty($hub_color)} h-{$hub_color}{/if} h-mode-normal">

    <div class="h-header">

        <ul class="menu-h h-sort js-bulk-menu">
            <li>
                <a href="#"><i class="icon16 hamburger"></i></a>
            </li>
            <li style="display: none;">
                <a href="#" class="js-bulk-action" data-action="move" data-category="{if !empty($category.id)}{$category.id}{/if}" data-hub="{if !empty($hub.id)}{$hub.id}{elseif !empty($category.hub_id)}{$category.hub_id}{/if}"><i class="icon16 move"></i>[`Move`]<span class="indicator js-count">0</span></a>
            </li>
            <li style="display: none;">
                <a href="#" class="js-bulk-action" data-action="delete" data-confirm="[`Selected topics will be permanently deleted. Are you sure?`]"><i class="icon16 delete"></i>[`Delete`]<span class="indicator js-count">0</span></a>
            </li>
            <li style="display: none;">
                <ul class="menu-h dropdown">
                    <li>
                        <a href="javascript:void(0)">
                            [`Priority`]
                            <span class="indicator js-count">0</span>
                        </a>
                        <ul class="menu-v with-icons">
                            <li><a href="#" class="js-bulk-action" data-action="priority" data-priority="1"><i class="icon16 exclamation-red"></i>[`high`]</a></li>
                            <li><a href="#" class="js-bulk-action" data-action="priority" data-priority="0"><i class="icon16 status-gray-tiny"></i>[`normal`]</a></li>
                            <li><a href="#" class="js-bulk-action" data-action="priority" data-priority="-1"><i class="icon16 status-blue-tiny"></i>[`low`]</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li style="display: none;">
                <a href="#" class="gray inline-link"><b><i>[`Cancel`]</i></b></a>
            </li>
        </ul>

        <div class="h-search-form show-in-normal-mode">
            <form id="search-form">
                <input id="search-query" type="search" placeholder="[`Search topics`]" autocomplete="off" {if isset($query)}value="{$query|escape}"{/if}>
            </form>
            <script type="text/javascript">
                $('#search-form').submit(function () {
                    if ($('#search-query').val()) {
                        $.wa.setHash('#/search/' + $('#search-query').val());
                    }
                    return false;
                });
            </script>
        </div>

        {if $type != 'search'}
            <ul class="menu-h dropdown h-sort js-sort-menu">
                <li>
                    {$sorts = [ 'recent' => "[`Newest`]", 'popular' => "[`Popular`]", 'updated' => "[`Updated`]" ]}
                    {if !empty($category.id) && empty($category.type)}
                        {$sorts = ['manual' => "[`Manual sort`]"] + $sorts}
                    {/if}
                    {if !$order}{$order = 'recent'}{/if}

                    <a href="#" class="inline-link"><b><i>{ifset($sorts[$order], $order)}</i></b> <i class="icon10 darr"></i></a>

                    <ul class="menu-v">
                        {foreach $sorts as $s_id => $s_name}
                            <li class="{if $order == $s_id} selected{/if}">
                                <a href="#/{if $hash}{$hash}/{/if}{$s_id}/">{$s_name|escape}</a>
                            </li>
                        {/foreach}

                        <li class="h-filter-by-type">
                            {if $collection_topic_types}
                                {foreach $collection_topic_types as $t}
                                    <label><input type="checkbox" value="{$t.id}"> {$t.name|escape}</label>
                                {/foreach}
                            {else}
                                <span class="hint">[`Type selector is disabled since all topics in current view are of the same type.`]</span>
                            {/if}
                        </li>
                    </ul>
                </li>
            </ul>
        {/if}


        <div class="h-stream-title">

            <h1 class="list-title{if empty($title)} gray{/if}">
                {if !empty($hub_context) && $type != 'hub'}
                    <a href="#/hub/{$hub_context.id}/" class="back">&larr; {$hub_context.name|default:'[`(no name)`]'|escape}</a>
                {/if}
                <span id="list-title-text" class="title">{$title|default:'[`(no name)`]'|escape}</span>
            </h1>

            {if $type == 'category'}
                {if $is_admin}
                    <a href="#" class="list-title-suffix stream-edit" data-category-id="{ifset($category.id)}"><i class="icon16 settings"></i></a>
                {/if}
            {elseif $type == 'filter'}
                {if $is_admin || (-$filter.contact_id == $wa->userId())}
                    <a href="#" class="list-title-suffix stream-edit" data-filter-id="{ifset($filter.id)}"><i class="icon16 settings"></i></a>
                {/if}
            {elseif $type == 'tag'}
                <i class="icon16 tags list-title-suffix"></i>
            {elseif $type == 'hub'}
                {if $is_admin}
                    <a href="#/settings/hub/{ifset($hub.id)}/" class="list-title-suffix inline-link"><i class="icon16 settings"></i></a>
                {/if}
            {/if}

            {if $type == 'hub' && !empty($tags)}
                <div class="tags" style="display: none">
                    {foreach $tags as $tag}
                    <a href="#/tag/{$tag.id}/" style="font-size: {$tag.size}%; opacity: {$tag.opacity}">{$tag.name|escape}</a>
                    {/foreach}
                </div>
            {/if}

        </div>

        <div class="clear-right"></div>

    </div>

    {if $type == 'hub' && $hub.status && !$hub_context.urls }
        <div class="block double-padded">
            <p class="small">
                {sprintf('[`This hub is not visible on your sites now, because there were no routing rules added for Hub app with this particular hub. To make this hub visible on your site, <a href="%s">create a route</a> for Hub app and this hub in your Site app routing settings.`]', "../site/#/routing/")}
            </p>
        </div>
    {/if}

    <div class="h-saved block double-padded" style="display: none;">
        <a href="#" class="h-close-saved">&times;</a>
        <i class="icon16 yes"></i> [`Saved`]
    </div>

    <div id="h-content">

        <div id="h-stream-settings" class="block double-padded" style="display: none;">
            <!-- category/filter settings -->
        </div>

        {if !empty($topics)}

            {if (!empty($hub_full_access) || $wa->user()->isAdmin('hub')) && $order != 'manual'}
                <div class="block double-padded show-in-bulk-mode sort-handler-unavailable-notice">
                    <p class="small" style="margin:0">
                        <a href="#" class="h-close">&times;</a>
                        {if empty($category.id) || $category.type}
                            [`Manual sort for topics is not available in dynamic topic lists. If you want to activate the ability to sort topics, create a Folder category first.`]
                        {else}
                            {sprintf_wp("Manual sort for topics is not available in this view because current sort order is set to <strong>%s</strong>. To activate the ability to sort topics in this category, set current sort order to “Manual sort”.", ifset($sorts[$order], $order))}
                        {/if}
                    </p>
                </div>
            {/if}

            <ul class="h-topics">
            {foreach $topics as $t}

                {$_r = $t.votes_up - $t.votes_down}
                {if !empty($types[$t.type_id])}
                    {$_topic_type = array_merge($types[$t.type_id], ['exists' => 1])}
                {else}
                    {* corrupted/missing topic type? fallback to 'custom' *}
                    {$_topic_type = [ 'glyph' => 'unknown', 'type' => 'custom', 'name'=> _w('Unknown topic type'), 'exists' => 0]}
                {/if}

                <li data-id="{$t.id}" data-type-id="{$t.type_id}" class="h-topic{if empty($hubs[$t.hub_id].status)} h-private{/if} {if !empty($t.follow)}h-followed{else}h-not-followed{/if}{if $t.hub_color != 'white'} h-color-marker h-{$t.hub_color}{/if}{if !$_topic_type.exists} unknown-topic-type{/if}">
                    {* sort handle *}
                    {if $order == 'manual' && !empty($hub_full_access)}
                        <div class="h-sort-handle hide-when-filtered">
                            <i class="icon16 sort"></i>
                        </div>
                    {/if}

                    {* glyph *}
                    <div class="h-topic-meta">

                        <input type="checkbox" class="js-bulk-mode" value="{$t.id}">

                        <a href="#/topic/{$t.id}/">{hubHelper::getGlyph( $_topic_type.glyph, 32, $t.is_new || $t.is_updated && !empty($t.new_comments), [ title=>$_topic_type.name,contact=>ifempty($t.contact,[]) ] )}</a>

                    </div>

                    {* comments & follow *}
                    {if !empty($_topic_type.settings.commenting) && $_topic_type.settings.commenting == 1}

                        <div class="h-replies">
                            {if count($t.new_comments) > 0}
                                <a href="javascript:void(0)" class="inline-link toggle-comments"><b><i>{_w('%d new reply', '%d new replies', count($t.new_comments))}</i></b></a>
                            {elseif !empty($t.follow)}
                                <span class="gray">[`No new replies`]</span>
                            {else}
                                <span class="gray">{_w('%d reply', '%d replies', $t.comments_count)}</span>
                            {/if}
                           <a href="#" title="[`Follow`]" data-topic="{$t.id}" class="h-follow bold"><i class="icon16 star{if empty($t.follow)}-empty{/if}"></i><span class="followers-count">{if !empty($t.follow)}[`Following`]{/if}</span></a>
                        </div>
                    {else if $t.comments_count > 0}
                        {* commenting for this topic type has been disabled after there were some comments for this particular topic *}
                        <div class="h-replies">
                            <span class="gray">{_w('%d reply', '%d replies', $t.comments_count)}</span>
                        </div>
                    {/if}

                    <h3>

                        {* rating *}
                        {if $_topic_type.type != 'forum' && !empty($_topic_type.settings.voting)}
                            <strong class="h-rating {if $_r > 0}h-positive{elseif $_r < 0}h-negative{else}gray{/if}">{if $_r > 0}+{/if}{$_r}</strong>
                        {/if}

                        {* title *}
                        <a href="#/topic/{$t.id}/" class="{if $t.is_new || !empty($t.is_updated) && !empty($t.new_comments)}bold{/if}">
                            {if $t.priority}
                                <i class="icon16 {if $t.priority == 1}exclamation-red{else}status-blue-tiny{/if}" title="{if $t.priority == 1}[`High priority`]{else}[`Low priority`]{/if}"></i>
                            {/if}
                            {if !empty($t.title)}{$t.title|escape}{else}<span class="gray">([`no title`])</span>{/if}
                        </a>

                        {* badge *}
                        {if $t.badge}
                            <span class="h-badge h-{$t.badge.id}">{$t.badge.name}</span>
                        {/if}

                        {* date & author *}
                        <br>
                        <span class="hint">
                            {sprintf('[`by %s`]', $t.contact.name|escape)}
                            {$t.create_datetime|wa_datetime:"humandatetime"}
                        </span>


                    </h3>

                    {* summary *}
{*
                    {if $_topic_type.type != 'forum' && $_topic_type.type != 'page'}
                        <p class="h-topic-summary">{strip_tags($t.content)|truncate:255}</p>
                    {/if}
*}

                    {* in-list replies *}
                    {if !empty($t.new_comments)}
                        {$load_js_for_comments = true}
                        <div class="h-comments{* if empty($t.follow)} hidden{/if *}">
                            <ul>
                                {foreach $t.new_comments as $comment}
                                    <li data-id="{$comment.id}" class="h-comment">{include file="../comments/include.comment.html" inline}</li>
                                {/foreach}
                            </ul>
                            <div id="h-comment-add" style="display:none;">
                                {include '../comments/include.addComment.html' inline}
                            </div>
                        </div>
                    {/if}

                </li>
            {/foreach}
            </ul>

            {if isset($pages_count) && $pages_count > 1}
            <div class="block lazyloading-paging"  data-link-text="[`Load more`]" data-times="4">
                {wa_pagination total=$pages_count attrs=['class' => "menu-h"]}
            </div>
            {/if}
        {else}

            <p class="h-empty-view">[`There are no topics in this view.`]</p>

        {/if}

    </div>

    {if $topics_count}
    <div class="h-footer">
        <p>
            {sprintf('[`%d topics of %d`]', $loaded_count, $topics_count)}
            <span class="hidden place-for-hidden-label">{sprintf_wp('(%s hidden)', '<span></span>')}</span>
        </p>
        {if $page < $pages_count}
            <em class="loading-wrapper"><i class="icon16 loading"></i> [`Loading...`]</em>
        {/if}
    </div>
    {/if}

    <div class="clear-both"></div>

</div>

<div id="h-bulk-topics-move">

</div>

<script>$(function () {
    $.wa.locale = $.extend($.wa.locale, {
        'Loading...': "[`Loading...`]",
        'Following': "[`Following`]",
        'Are you sure?': "[`Are you sure?`]",
        'Select at least one topic':"[`Select at least one topic`]",
        "Mark as solution":"[`Mark as solution`]",
        "Unmark solution":"[`Unmark solution`]"
    });

    $.hub.topics.init({
        topics_count:{$topics_count}
    });
    $.hub.initLazyLoad();

    {if $order == 'manual' && !empty($category.id) && !empty($hub_full_access)}
        // Drag-and-drop for topics in Manual mode
        $.hub.topics.initManualDragAndDrop({$category.id});
    {/if}

    // Controller for comments
    {if !empty($load_js_for_comments)}
        $.ajax({ // Load JS script, making sure it WILL get cached in non-debug mode
              dataType: "script",
              url: "{$wa_app_static_url}js-legacy/comments.js?{$wa->version()}",
              cache: true
        }).done(function() {
            $.comments.init({
                lang: {json_encode(substr($wa->locale(), 0, 2))},
                statuses: {
                    deleted: '{hubCommentModel::STATUS_DELETED}',
                    published: '{hubCommentModel::STATUS_PUBLISHED}'
                },
                container: '#h-content'
            });
        });
    {/if}

    {if !empty($hub_context)}
        $.sidebar.setHub('{$hub_context.id}');
    {/if}
});</script>
