<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$wa->appName()} &mdash; {$wa->accountName()}</title>

    {$wa->css()}
    <link type="text/css" rel="stylesheet" href="{$wa_app_static_url}css-legacy/hub.css?v{$wa->version()}">
    <link type="text/css" rel="stylesheet" href="{$wa_app_static_url}css-legacy/glyphs.css?v{$wa->version()}">
    <link rel="stylesheet" href="{$wa_url}wa-content/js/jquery-plugins/ibutton/jquery.ibutton.min.css?v={$wa->version()}">

    <link href="{$wa_url}wa-content/css/jquery-ui/base/jquery.ui.autocomplete.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{$wa_url}wa-content/js/farbtastic/farbtastic.css" type="text/css" />
    <link rel="stylesheet" href="{$wa_url}wa-content/js/jquery-plugins/jquery-tagsinput/jquery.tagsinput.css">

    <script src="{$wa_url}wa-content/js/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="{$wa_url}wa-content/js/jquery/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="{$wa_url}wa-content/js/ace/ace.js?v{$wa->version(true)}"></script>

    <link type="text/css" rel="stylesheet" href="{$wa_url}wa-content/js/redactor/2/redactor.css?v{$wa->version(true)}">
    <script src="{$wa_url}wa-content/js/redactor/2/redactor.min.js?v{$wa->version(true)}"></script>
    {if substr($wa->locale(), 0, 2)!='en'}
        <script src="{$wa_url}wa-content/js/redactor/2/{substr($wa->locale(), 0, 2)}.js?v{$wa->version(true)}"></script>
    {/if}

    {wa_js file="js-legacy/hub.min.js"}
        {$wa_url}wa-content/js/jquery-wa/wa.core.js
        {$wa_url}wa-content/js/jquery-wa/wa.dialog.js
        {$wa_url}wa-content/js/jquery-plugins/jquery.history.js
        {$wa_url}wa-content/js/jquery-plugins/jquery.store.js
        {$wa_url}wa-content/js/jquery-ui/jquery.ui.core.min.js
        {$wa_url}wa-content/js/jquery-ui/jquery.ui.widget.min.js
        {$wa_url}wa-content/js/jquery-ui/jquery.ui.mouse.min.js
        {$wa_url}wa-content/js/jquery-ui/jquery.ui.position.min.js
        {$wa_url}wa-content/js/jquery-ui/jquery.ui.autocomplete.min.js
        {$wa_url}wa-content/js/jquery-ui/jquery.ui.draggable.min.js
        {$wa_url}wa-content/js/jquery-ui/jquery.ui.droppable.min.js
        {$wa_url}wa-content/js/jquery-ui/jquery.ui.sortable.min.js
        {$wa_url}wa-content/js/jquery-ui/jquery.ui.datepicker.min.js
        {$wa_url}wa-content/js/jquery-plugins/ibutton/jquery.ibutton.min.js
        {$wa_url}wa-content/js/farbtastic/farbtastic.js
        {$wa_url}wa-content/js/jquery-plugins/jquery-tagsinput/jquery.tagsinput.min.js
        {$wa_app_static_url}js-legacy/vendors/popper/popper.min.js

        {$wa_app_static_url}js-legacy/jquery.sticky.js
        {$wa_app_static_url}js-legacy/lazy.load.js
        {$wa_app_static_url}js-legacy/hub.js
        {$wa_app_static_url}js-legacy/sidebar.js
    {/wa_js}

    <script src="{$wa_url}wa-content/js/jquery-ui/i18n/jquery.ui.datepicker-{$wa->locale()}.js"></script>
    <script src="{$wa_url}wa-content/js/jquery-wa/editor2.js?v{$wa->version(true)}"></script>

    {$wa->js()}
    {foreach $backend_event as $e}{if !empty($e.head)}{$e.head}{/if}{/foreach}
</head>
<body>
    <div id="wa">
        {$wa->header()}
        <div id="wa-app">
            <div class="sidebar left200px top-padded">
                {include file="./include.sidebar.html" inline}
            </div>
            <div class="content left200px">
                <div class="block not-padded" id="content">
                    <div class="block">
                        <h1 class="wa-page-heading">[`Loading...`]</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {if method_exists($wa->installer, 'reviewWidget') && $count_topics['all'] > 10}
    {$wa->installer->reviewWidget('app/hub')}
    {/if}

    <script>
        $.wa.locale = $.extend($.wa.locale || { }, {
            'Insert code block': "[`Insert code block`]",
            'Insert quote': "[`Insert quote`]",
            'Insert': "[`Insert`]"
        });
        $.hub.lang = {json_encode(substr($wa->locale(), 0, 2))};
        $.hub.framework_version = {$wa->version(true)|json_encode};
        $.hub.init({json_encode(['accountName' => $wa->accountName(false)])});
    </script>

    {* Tooltip with parent comments *}
    <script>
        $(function () {
            var $document = $(document),
                popper;

            $document.on('mouseenter', '.js-parent-comment-reference', function () {
                var $ref = $(this),
                    $parent_comment = $ref.parents('.js-parent-comment'),
                    comment_id = $parent_comment.data('id'),
                    $popper = $parent_comment.find('.js-parent-comment-popper-wrapper');

                if (popper) {
                    return false;
                }

                popper = new Popper($ref, $popper, {
                    placement: 'top-start',
                    modifiers: {
                        flip: {
                            behavior: ['top', 'bottom']
                        }
                    }
                });
                $popper.show().css({ opacity: 1 });

                $parent_comment.on('mouseleave', function () {
                    setTimeout( function() {
                        if (!$parent_comment.is(':hover')) {
                            $popper.css({ opacity: 0 });
                            setTimeout(function () {
                                $popper.hide();
                                $popper.html($popper.html()); // A hack that helps stop video playback :]

                                if (!popper) {
                                    return false;
                                }

                                popper.destroy();
                                popper = null;
                            }, 150);
                        }
                    }, 450);
                });

                // Scroll to parent comment in list
                // Scroll worked only if parent comment exists in DOM :[
                $parent_comment.on('click', '.js-parent-datetime', function () {
                    var $real_parent_comment = $('.js-comment[data-id="'+ comment_id +'"]');

                    if (!$real_parent_comment.length) {
                        return false;
                    }

                    $('html, body').animate({ scrollTop: $real_parent_comment.offset().top });
                });
            });
        });
    </script>
</body>
</html>
