<script type="text/javascript" src="{$wa_app_static_url}js/lazy.load.js"></script>
<script type="text/javascript" src="{$wa_app_static_url}js/comments.js"></script>

<div class="article">
    <div class="article-body" id="comments-wrapper">
        <h2>[`Replies`]</h2>

        <div class="h-content h-plain-discussion">
            <div class="h-comments">
                <div class="h-comments-wrap">
                    {foreach $comments as $id => $comment}
                    <div data-id="{$comment.id}" class="h-comment">{include file="./include.comment.html" inline}</div>
                    {/foreach}
                </div>

                <div id="h-comment-add" data-mode="plain" style="display:none;">
                    {include './include.addComment.html' inline}
                </div>
            </div>

            <div class="lazyloading-wrapper custom-ml-40 custom-ml-0-mobile">
                <div class="lazyloading-progress-string small gray">{_w('%d comment','%d comments', $offset + $count)}&nbsp;{sprintf(_w('of %d'), $total_count)}</div><br>
                <a href="javascript:void(0);" class="lazyloading-link semibold" {if $count >= $total_count}style="display:none;"{/if}>[`Show more comments`]</a>
                <span class="lazyloading-progress" style="display:none">
                    <i class="fas fa-spinner fa-spin loading"></i> [`Loading`] <span class="lazyloading-chunk">{_w('%d comment', '%d comments', min($total_count - $count, $count))}...</span>
                </span>
            </div>
        </div>
    </div>
</div>

<script>
    $.wa.locale = $.extend($.wa.locale || { }, {
        'Loading...': "[`Loading...`]",
        'Following': "[`Following`]",
        "Mark as solution":"[`Mark as solution`]",
        "Unmark solution":"[`Unmark solution`]",
        "blockquote": "[`Quote...`]"
    });
    document.title = "{_w('comments')|escape:js} — {$wa->accountName()|escape:js}";

    $.comments.init({
        statuses: {
            deleted: '{hubCommentModel::STATUS_DELETED}',
            published: '{hubCommentModel::STATUS_PUBLISHED}'
        },
        lazy_loading: {
            auto: true,
            total_count: {ifempty($total_count, 0)},
            count: {$count},
            contact_id: {json_encode($contact_id)}
        },
        container: '#comments-wrapper'
    });
    $('#h-all-comments').find('.count-new:first').text({if $sidebar_counters.new}'+{$sidebar_counters.new}'{else}''{/if});
</script>
